name: CI-CD Voting App

on:
  push:
    branches:
      - main

env:
  ACR_LOGIN_SERVER: aboldyrueva.azurecr.io
  VM_HOST: 4.212.93.16
  VM_USER: azureuser
  APP_DIR: /home/azureuser/VotingApp

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # ---------- CHECKOUT ----------
      - name: Checkout repository
        uses: actions/checkout@v4

      # ---------- ACR LOGIN ----------
      - name: Login to Azure Container Registry
        run: |
          echo "${{ secrets.ACR_PASSWORD }}" | docker login $ACR_LOGIN_SERVER -u ${{ secrets.ACR_USERNAME }} --password-stdin

      # ---------- BUILD & PUSH ----------
      - name: Build and Push vote
        run: |
          docker build -t $ACR_LOGIN_SERVER/vote:latest ./vote
          docker push $ACR_LOGIN_SERVER/vote:latest

      - name: Build and Push result
        run: |
          docker build -t $ACR_LOGIN_SERVER/result:latest ./result
          docker push $ACR_LOGIN_SERVER/result:latest

      - name: Build and Push worker
        run: |
          docker build -t $ACR_LOGIN_SERVER/worker:latest ./worker
          docker push $ACR_LOGIN_SERVER/worker:latest

      # ---------- PREPARE COMPOSE ----------
      - name: Prepare docker-compose for production
        run: |
          sed \
            -e "s|build: ./vote|image: $ACR_LOGIN_SERVER/vote:latest|" \
            -e "s|build: ./result|image: $ACR_LOGIN_SERVER/result:latest|" \
            -e "s|build: ./worker|image: $ACR_LOGIN_SERVER/worker:latest|" \
            docker-compose.prod.yml > docker-compose.prod.tmp.yml

      # ---------- SETUP SSH ----------
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.VM_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H $VM_HOST >> ~/.ssh/known_hosts

      # ---------- COPY COMPOSE ----------
      - name: Copy docker-compose to VM
        run: |
          scp docker-compose.prod.tmp.yml $VM_USER@$VM_HOST:$APP_DIR/docker-compose.yml

      # ---------- DEPLOY ----------
      - name: Deploy on VM
        run: |
          ssh $VM_USER@$VM_HOST << 'EOF'
            set -e
            cd /home/azureuser/VotingApp
            # Логін в ACR для vote/result/worker
            docker login aboldyrueva.azurecr.io -u ${{ secrets.ACR_USERNAME }} -p ${{ secrets.ACR_PASSWORD }}
            # Логін в Docker Hub для redis/postgres
            docker login -u herman1968 -p ${{ secrets.DOCKERHUB_PASSWORDSS }}
            docker compose -f docker-compose.yml up -d --remove-orphans --no-build
          EOF
