name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # Клонування репозиторію
      - uses: actions/checkout@v3

      # Вхід в ACR
      - name: Log in to ACR
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      # Build + Push vote
      - name: Build and push vote
        run: |
          docker build -t ${{ secrets.ACR_LOGIN_SERVER }}/vote:latest ./vote
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/vote:latest

      # Build + Push result
      - name: Build and push result
        run: |
          docker build -t ${{ secrets.ACR_LOGIN_SERVER }}/result:latest ./result
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/result:latest

      # Build + Push worker
      - name: Build and push worker
        run: |
          docker build -t ${{ secrets.ACR_LOGIN_SERVER }}/worker:latest ./worker
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/worker:latest

      # Деплой на VM через SSH
      - name: Deploy to VM
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.VM_IP }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.VM_SSH_KEY }}
          s
